html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #f6f6f6;
  /* height: 100vh; */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#pokemon-info {
  width: 500px;
}
#container-login {
  min-height: 100vh;
  max-width: 600px;
  margin: auto;
}

.btn-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  width: -webkit-fill-available;
}

.show {
  display: "contents";
}

.hide {
  display: none;
  right: 10000px;
}

#responsive-menu {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* mobiles */
@media only screen and (min-width: 320px) {
  #container-menu {
    display: none;
  }
  #pokemon-main {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  #pokemon-container {
    height: auto;
  }
  #pokemon {
    width: 140px;
    height: 230px;
    margin: 4px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  #pokemon {
    width: 160px;
    height: 230px;
    margin: 4px;
  }
  #container-menu {
    display: none;
  }
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  #pokemon {
    width: 160px;
    height: 230px;
    margin: 7px;
  }
  #container-menu {
    display: none;
  }
  #nav-contarner-main, #nav-contarner-brand{
    justify-content: center;
  }
}

@media only screen and (min-width: 425px) and (max-width: 639px) {
  #pokemon {
    width: 190px;
    height: 250px;
    margin: 4px;
  }
  #container-menu {
    display: none;
  }
  #nav-contarner-main, #nav-contarner-brand{
    justify-content: center;
  }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  #pokemon {
    width: 160px;
    height: 230px;
    margin: 6px;
  }
  #container-menu {
    display: none;
  }
  #nav-contarner-main, #nav-contarner-brand{
    justify-content: center;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #pokemon {
    width: 160px;
    height: 230px;
    margin: 7px;
  }
  #container-menu {
    display: none;
  }
  #nav-contarner-main{
    justify-content: center;
  }
  .navbar-brand {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  #pokemon {
    width: 160px;
    height: 230px;
    margin: 7px;
  }
  #container-menu {
    display: flex;
  }
  #toggle-menu {
    display: none;
  }
 
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  #pokemon {
    width: 160px;
    height: 230px;
    margin: 12px;
  }
  #container-menu {
    display: flex;
  }
  #toggle-menu {
    display: none;
  }
}
